@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Satoshi', sans-serif;
}

a {
	@apply text-purple-500 italic;
}

.button {
	font-style: normal;
	@apply bg-indigo-500 text-white rounded-md px-4 py-2 font-semibold hover:shadow-lg hover:shadow-purple-500/10 transition-all duration-150;
}

.nav-item {
	@apply text-white;
}

.skills {
	grid-template-columns: 1fr 1fr 1fr;
	@apply gap-4;
}

.skill {
	@apply rounded-md p-2;
}

.project-card {
	@apply rounded-md p-2 overflow-hidden relative w-full h-72 transition-all duration-150 shadow-md;
}

.project-card:hover {
	@apply -translate-y-2 transition-all duration-150;
}

.project-card__image {
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	height: 100%;
	@apply object-cover;
}
